version: '3.9'

services:
  dolarproject:
    container_name: dolarProject
    build:
      context: .
    ports:
      - 8000:8000
    volumes:
      - django_data:/dolar_project
    env_file:
      - ./dotenv_files/.env
    depends_on:
      - grafana

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
      - grafana-storage:/var/lib/grafana

volumes:
  django_data:
  grafana-storage: