*, *:after{
    margin: 0;
    padding: 0;
    block-size: 0;
    text-decoration: 0;
    width: auto;
    height: auto;
    font-family:'Impact';
}

body{
    width: 100%;
    height: auto;
    background-color: #0D1321;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-header{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 50px;
    margin-top: 0;
    padding-top: 50px;
}

hr.header-hr{
    border: 1px solid white;
    height: 0.1px;
    padding: 0;
}

.header-title{
    font-size: 50px;
    text-decoration: underline;
    background: -webkit-linear-gradient(#FFEDDF, #C5D86D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid #000 0.5;    
}

.container-dashboard{
    background-color: #304678;
    border-radius: 10px;
    padding: 20px;
    width: 92%;    
    flex: 2;
}

.container-dashboard-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard {
    width: 100%;
    height: 1300px;
}