*, *:after{
    margin: 0;
    padding: 0;
    block-size: 0;
    text-decoration: 0;
    width: auto;
    height: auto;
    font-family:'Impact';
}

body{
    width: 100%;
    height: auto;
    background-color: #0D1321;
}

.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header{
    width: 100%;
    height: 100%;
    display: grid;
    margin: 50px;
    padding-top: 50px;
}

hr.header-hr{
    border: 1px solid white;
    height: 0.1px;
    padding: 0;
}

.header-title{
    font-size: 50px;
    text-decoration: underline;
    background: -webkit-linear-gradient(#FFEDDF, #C5D86D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: solid #000 0.5;    
}

.container{
    width: 90%;
    margin: 0 auto;                  
    overflow: hidden;
    background-color: #0D1321;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;    
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
}

.container-table{
    background-color: #304678;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    width: auto;    
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1{
    grid-row: 1;
    grid-column: 1;
}


.item2{
    grid-row: 1;
    grid-column: 2;
}

.item3{
    grid-column: 1 / span 2;
    grid-row: 2;
}

.tabela {
    border-collapse: collapse;
    width: 100%;
}

.tabela th, .tabela td {
    border-top: 1px solid #dddddd;
    padding: 8px;
    color: #C5D86D;
}

.tabela th:first-child,
.tabela td:first-child {
    border-left: none; /* Remove a borda esquerda para a primeira coluna */
}

.tabela th:last-child,
.tabela td:last-child {
    border-right: none; /* Remove a borda direita para a última coluna */
}

.tabela td:nth-child(1) {
    border-right: 1px solid #dddddd; /* Adiciona uma linha à direita para a primeira coluna */
}

.tabela td:nth-child(2) {
    border-left: 1px solid #dddddd; /* Adiciona uma linha à esquerda para a segunda coluna */
}

.tabela-title {
    font-size: 80px;
    font-weight: bold;
    color: #C5D86D;
    transform: rotate(-90deg);
    text-align: justify;
    white-space: pre;
    flex-grow: 1;
}

.cell {
    text-align: center; /* Ou outro alinhamento desejado */
    color: #C5D86D;
}

.dashboard {
    width: 100%;
    height: 100%;
    flex-grow: 10;
}