<!DOCTYPE html>
<html>
<head>
    <title>{{ dados.title }}</title>
    {% load static %}
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css"></style>
</head>
<body>
    <div class="container-header">
        <div class="header">
            <span class="header-title">
                Dolar Exchange
            </span>
            <hr class="header-hr">
        </div>
    </div>
    <div class="container-dashboard">
        <div class="container-dashboard-child">
            <iframe class="dashboard" src="http://localhost:3000/d/dashboardpadrao/dashboard?orgId=1" height="100%", width="100%"></iframe>
        </div>
    </div>
</body>
</html>
